<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    /* --- lms css --- */

    <link rel="preload" href="https://thegymnasium.com/static/gymnasium/css/lms-style-vendor.css" as="style">
    <link rel="stylesheet" href="https://thegymnasium.com/static/gymnasium/css/lms-style-vendor.css">
    <link rel="preload" href="https://thegymnasium.com/static/gymnasium/css/lms-main-v1.css" as="style">
    <link rel="stylesheet" href="https://thegymnasium.com/static/gymnasium/css/lms-main-v1.css">
    <link rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css" as="style">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css">
  </head>
  <body>
    {{ content }}

  </body>
</html>
